<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
	<title></title>
	<!-- 引用路径 -->
	<!-- <script th:src="@{/static/js/test.js}"></script> -->
</head>
<body>
	
<div>
	用户姓名：<input th:id="${userDTO.name}" th:name="${userDTO.name}" th:value="${userDTO.name}"/>
	<br/>
	用户年龄：<input th:value="${userDTO.age}"/>
	<br/>
	用户生日：<input th:value="${userDTO.birthday}" />
	<br/>
	用户生日2：<input th:value="${#dates.format(userDTO.birthday,'yyyy/MM/dd')}" />
</div>

<div th:object="${userDTO}"><!-- 使用* 代替 user对象 -->
	用户姓名：<input th:id="*{name}" th:name="*{name}" th:value="*{name}"/>
	<br/>
	用户年龄：<input th:value="*{age}"/>
	<br/>
	用户生日：<input th:value="*{birthday}" />
	<br/>
</div>

text 与 utext <br/>
<span th:text="${userDTO.desc}">abcdefghijk</span>
<br/>
<span th:utext="${userDTO.desc}">bbbbbbbbbb</span>
<br/>
<span >啛啛喳喳错错错错错错错错错错错</span>
<br/>
<!-- URL 显示网址 -->
<a href ="www.baidu.com" th:href="@{http://www.imooc.com}" >网站地址</a>
<br/>

<form th:action="@{/th/postform}" th:object ="${userDTO}" method ="post" th:method="post" >
 <input type="text" th:field="*{name}" />
  <input type="text" th:field="*{age}" />
 <input type="submit" />
</form>

<br/>
<!-- 判断标签 -->
<div th:if="${userDTO.age} == 18">等于十八岁</div>
<div th:if="${userDTO.age} gt 18">大于十八岁</div>
<div th:if="${userDTO.age} lt 18">小于于十八岁</div>
<div th:if="${userDTO.age} ge 18">大等于十八岁</div>
<div th:if="${userDTO.age} le 18">小等于十八岁</div>
<br/>
<!-- 选择标签 -->
<select>
	<option>选择框</option>
	<option th:selected="${userDTO.name eq 'lee'}">lee</option>
	<option th:selected="${userDTO.name eq 'qiaokai'}">qiaokai</option>
	<option th:selected="${userDTO.name eq 'imooc'}">imooc</option>
</select>
<table>
	<tr>
		<th>姓名</th>
		<th>年龄</th>
		<th>年龄备注</th>
		<th>生日</th>
	</tr>
	<tr th:each="person:${userDTOList}">
		<td th:text="${person.name}"></td>
		<td th:text="${person.age}"></td>
		<td th:text="${person.age gt 18} ? 大于十八岁: 小于十八岁 ">18岁</td>
		<td th:text="${#dates.format(person.birthday,'yyyy-MM-dd hh:mm:ss')}"></td>
	</tr>
</table>

<!-- https://gitee.com/qiaoyiyi/springbootdemo.git -->

</body>
</html>